<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bubs.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyStudies.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Validcare.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ValidcareQA.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E7D2D551E433E8700763D4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FEE49522521CFD000DD9696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7878B3192216C6E10052FC23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2310E5B2880F2860083731A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2586A6B266180D800194D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D28F7120276A937B00B9462C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D28F720D276A938400B9462C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D28F7304276A99E100B9462C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B3B35926953E79003D3DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2D067A62880ADED00D2D605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
